body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
}

form {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

form input,
form label,
form button,
form select {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

fieldset input[type="radio"],
fieldset input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

fieldset label {
    display: inline-block;
    width: auto;
    margin-right: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
